$mainColor: #22232c;
$textColor: #b8b8b8;
$mainFont: Roboto;

$secondaryColor: rgba(12, 12, 12, 0.4);
$secondaryColorHighlight: #33343f;
$secondaryColorLight: rgba(0, 0, 0, 0.5);
$secondaryColorDark: rgba(12, 12, 12, 0.8);

$dark-0: #c9c9c9;
$dark-1: #b8b8b8;
$dark-2: #828282;
$dark-3: #696969;
$dark-4: #424242;
$dark-5: #3b3b3b;
$dark-6: #2e2e2e;
$dark-7: #242424;
$dark-8: #1f1f1f;
$dark-9: #141414;

$teal-1: #e6fcf5;
$teal-2: #c3fae8;
$teal-3: #96f2d7;
$teal-4: #63e6be;
$teal-5: #38d9a9;
$teal-6: #20c997;
$teal-7: #12b886;
$teal-8: #0ca678;
$teal-9: #099268;
$teal-10: #087f5b;

$xs: 0.125rem;
$sm: 0.25rem;
$md: 0.5rem;
$lg: 1rem;
$xl: 2rem;

$s-xs: 0.625rem;
$s-sm: 0.75rem;
$s-md: 1rem;
$s-lg: 1.25rem;
$s-xl: 2rem;

$gridCols: 5;
$gridRows: 5;
$gridSize: 10.2vh;
$gridGap: 2px;
$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap});

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: white;
}

.context-menu-list {
  min-width: 200px;
  background-color: $dark-7;
  color: $dark-1;
  padding: 4px;
  border: 2px solid $teal-9;
  border-radius: $sm;
  outline: none;
  display: flex;
  flex-direction: column;
}

.context-menu-item {
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border: none;
  color: $dark-1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    transform: none;
  }

  &:hover {
    background-color: $dark-5;
    cursor: pointer;
  }
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown>p {
  margin: 0;
}

button:active {
  transform: translateY(3px);
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  gap: $lg;
  padding: $xl;
}

.inventory-control {
  display: flex;
  justify-content: center;
  background-color: $dark-7;
  padding: $lg;
  border-radius: $md;
  width: 432px;
  border: 2px solid $dark-5;

  .inventory-control-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .inventory-control-input {
    border-radius: $sm;
    transition: 200ms;
    font-family: $mainFont;
    font-size: 14px;
    text-align: center;
    outline: none;
    color: $teal-5;
    background-color: $dark-6;
    width: 80px;
    padding: $md;
    border: 2px solid $dark-5;

    &:focus-within {
      background-color: $dark-5;
      outline: 2px solid $teal-7;
    }
  }

  .inventory-control-button {
    border-radius: $sm;
    font-size: 14px;
    color: $dark-7;
    background-color: $teal-7;
    transition: 200ms;
    padding: $md;
    border: 2px solid $dark-5;
    text-transform: uppercase;
    font-family: $mainFont;
    width: 80px;
    font-weight: 500;

    &:hover {
      background-color: $teal-9;
      cursor: pointer;
    }
  }
}

.useful-controls-dialog {
  background-color: $mainColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  gap: 16px;
}

.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;

  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
}

.useful-controls-button {
  position: absolute !important;
  bottom: 25px;
  right: 25px;
  transition: 200ms !important;
  border: none;
  color: white;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border-radius: 5% !important;
  background-color: $secondaryColor !important;

  &:hover {
    background-color: $secondaryColorDark !important;
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window

// inventory grids
.inventory-grid-wrapper {
  $igwh: 0.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $dark-7;
  padding: $s-md;
  border-radius: $md;
  width: 432px;
  border: 2px solid $dark-5;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: $igwh;
    background-color: $dark-7;
    border-top-left-radius: $md;
    border-top-right-radius: $md;
  }

  &[data-weight-bar-width]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: $igwh;
    box-shadow: 0 1px 10px 1px $teal-7;
    background-color: $teal-6;
    width: var(--weight-bar-width, 0%);
    transition: width 0.3s ease;
    border-top-left-radius: $md;
  }
}

.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: $md $sm;

  p {
    font-size: 16px;
    color: $dark-1;
  }
}

.inventory-grid-container {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat(5, 80px);
  grid-auto-rows: 90px;
  gap: $md;
  overflow-y: scroll;
  flex: 1;
}

// inventory slots
.inventory-slot {
  background-color: $dark-6;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: $sm;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 3.8vh;
  color: $textColor;

  &:hover {
    cursor: pointer;
  }
}

.inventory-slot-label-box {
  background-color: $teal-7;
  color: $dark-9;
  text-align: center;
  border-bottom-left-radius: $sm;
  border-bottom-right-radius: $sm;
  border-top-color: $dark-5;
  border-top-style: inset;
  border-top-width: 1px;
}

.inventory-slot-label-text {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 3px;
  font-weight: 500;
  font-family: $mainFont;
}

.inventory-slot-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.inventory-slot-number {
  color: $dark-4;
  border-top-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
  font-size: 2.3rem;
  padding: 2px;
  font-family: $mainFont;
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  p {
    font-size: 10px;
    font-weight: 600;
  }
}

.item-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: $dark-1;
  font-weight: 600;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  padding: 2px;
  margin: 3px;
  border-radius: $sm;

  p {
    color: $teal-6;
    font-size: 12px;
  }
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;

  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  position: absolute;
  top: 3px;
  left: 3px;
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  // padding-right: 3px;

  p {
    font-size: 14px;
    // text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
    font-weight: 600;
    padding: 2px;
  }
}

.tooltip-wrapper {
  pointer-events: none;
  display: flex;
  background-color: $dark-6;
  width: 200px;
  padding: 8px;
  flex-direction: column;
  min-width: 200px;
  color: $dark-1;
  font-family: $mainFont;
  border-radius: $sm;
  border: 2px solid $teal-7;

  p {
    font-size: 12px;
    font-weight: 400;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 15px;
    font-weight: 400;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  svg {
    padding-right: 3px;
  }

  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
}

.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $dark-1;
  background-color: $dark-7;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: $sm;
  border-top-right-radius: $sm;
  font-family: $mainFont;

  p {
    font-size: 11px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  width: 120px;
  height: 120px;
}

.durability-bar {
  background: rgba(0, 0, 0, 0.5);
  height: 3px;
  overflow: hidden;
}

.weight-bar {
  background: rgba(0, 0, 0, 0.4);
  border: 1px inset rgba(0, 0, 0, 0.1);
  height: 0.8vh;
  border-radius: 5%;
  overflow: hidden;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px);
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}
